MORALIS_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6ImM2YjcxYjQ2LWI3NDEtNDEzZi05YWMzLTNhOWUyYmJlYzIzZiIsIm9yZ0lkIjoiMzU2MzA1IiwidXNlcklkIjoiMzY2MjAxIiwidHlwZUlkIjoiZDg1NzhiZTYtYTY4OC00MzQ0LTg2MDctMTI0OGQzM2UwYTg1IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE2OTQxMzAyMzAsImV4cCI6NDg0OTg5MDIzMH0.HJs_cLpB3kytXB1G4UMYMUvvXSeAKffiQ7I4o3Vz98g"
